# SQL comparison notebooks <dataset_name>
This data analysis was automatically generated using the TAP algorithm.

In [45]:
import sqlalchemy
sqlalchemy.create_engine("postgresql://localhost:5432/covid?user=marcel&password=1598marcel")
%load_ext sql
%sql postgresql://localhost:5432/covid?user=marcel&password=1598marcel
%config SqlMagic.displaycon=False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Query 1
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Type EPCI" ZZ vs nd 
grouped by "Nom Département" 

Insight is: Mean Greater for ZZ

In [46]:
%%sql
select t1."Nom Département", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Type EPCI = ZZ", t2.measure2 as "Sum(Conso moyenne (MWh)) for Type EPCI = nd"  
from 
  (select "Type EPCI", "Nom Département", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = 'ZZ' 
   group by "Type EPCI", "Nom Département") t1, 
  (select "Type EPCI", "Nom Département",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'nd' 
   group by "Type EPCI", "Nom Département") t2 
where t1."Nom Département" = t2."Nom Département" order by "Nom Département";

2 rows affected.

[("Côtes-d'Armor", Decimal('26105'), Decimal('6748')),
 ('Finistère', Decimal('590'), Decimal('1077'))]

### Query 2
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Type EPCI" 0 vs CU 
grouped by "Type IRIS" 

Insight is: Mean Greater for 0

In [47]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Type EPCI = 0", t2.measure2 as "Sum(Conso moyenne (MWh)) for Type EPCI = CU"  
from 
  (select "Type EPCI", "Type IRIS", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = '0' 
   group by "Type EPCI", "Type IRIS") t1, 
  (select "Type EPCI", "Type IRIS",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'CU' 
   group by "Type EPCI", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

1 rows affected.

[('Z', Decimal('11162'), Decimal('3268'))]

### Query 3
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Type EPCI" ZZ vs CU 
grouped by "Type IRIS" 

Insight is: Mean Greater for ZZ

In [48]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Type EPCI = ZZ", t2.measure2 as "Sum(Conso moyenne (MWh)) for Type EPCI = CU"  
from 
  (select "Type EPCI", "Type IRIS", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = 'ZZ' 
   group by "Type EPCI", "Type IRIS") t1, 
  (select "Type EPCI", "Type IRIS",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'CU' 
   group by "Type EPCI", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

1 rows affected.

[('Z', Decimal('26695'), Decimal('3268'))]

### Query 4
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Type EPCI" ZZ vs CU 
grouped by "Type IRIS" 

Insight is: Mean Greater for ZZ

In [49]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Type EPCI = ZZ", t2.measure2 as "Sum(Conso totale (MWh)) for Type EPCI = CU"  
from 
  (select "Type EPCI", "Type IRIS", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = 'ZZ' 
   group by "Type EPCI", "Type IRIS") t1, 
  (select "Type EPCI", "Type IRIS",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'CU' 
   group by "Type EPCI", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

1 rows affected.

[('Z', Decimal('137349'), Decimal('54856'))]

### Query 5
 
For measure Sum of "Conso totale (MWh)" 
Comparing "CODE GRAND SECTEUR" INDUSTRIE vs TERTIAIRE 
grouped by "CODE CATEGORIE CONSOMMATION" 

Insight is: Variance Equals for INDUSTRIE

In [50]:
%%sql
select t1."CODE CATEGORIE CONSOMMATION", 
       t1.measure1 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = INDUSTRIE", t2.measure2 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = TERTIAIRE"  
from 
  (select "CODE GRAND SECTEUR", "CODE CATEGORIE CONSOMMATION", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "CODE GRAND SECTEUR" = 'INDUSTRIE' 
   group by "CODE GRAND SECTEUR", "CODE CATEGORIE CONSOMMATION") t1, 
  (select "CODE GRAND SECTEUR", "CODE CATEGORIE CONSOMMATION",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "CODE GRAND SECTEUR" = 'TERTIAIRE' 
   group by "CODE GRAND SECTEUR", "CODE CATEGORIE CONSOMMATION") t2 
where t1."CODE CATEGORIE CONSOMMATION" = t2."CODE CATEGORIE CONSOMMATION" order by "CODE CATEGORIE CONSOMMATION";

2 rows affected.

[('ENT', Decimal('36947068'), Decimal('38454974')),
 ('PRO', Decimal('274374'), Decimal('2673726'))]

### Query 6
 
For measure Sum of "Conso totale (MWh)" 
Comparing "CODE GRAND SECTEUR" PETIT_PROFESSIONNEL vs TERTIAIRE 
grouped by "CODE CATEGORIE CONSOMMATION" 

Insight is: Mean Greater for PETIT_PROFESSIONNEL

In [51]:
%%sql
select t1."CODE CATEGORIE CONSOMMATION", 
       t1.measure1 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = PETIT_PROFESSIONNEL", t2.measure2 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = TERTIAIRE"  
from 
  (select "CODE GRAND SECTEUR", "CODE CATEGORIE CONSOMMATION", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "CODE GRAND SECTEUR" = 'PETIT_PROFESSIONNEL' 
   group by "CODE GRAND SECTEUR", "CODE CATEGORIE CONSOMMATION") t1, 
  (select "CODE GRAND SECTEUR", "CODE CATEGORIE CONSOMMATION",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "CODE GRAND SECTEUR" = 'TERTIAIRE' 
   group by "CODE GRAND SECTEUR", "CODE CATEGORIE CONSOMMATION") t2 
where t1."CODE CATEGORIE CONSOMMATION" = t2."CODE CATEGORIE CONSOMMATION" order by "CODE CATEGORIE CONSOMMATION";

1 rows affected.

[('PRO', Decimal('17701460'), Decimal('2673726'))]

### Query 7
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Nom Département" Morbihan vs Finistère 
grouped by "Type EPCI" 

Insight is: Variance Equals for Morbihan, Insight is: Mean Greater for Morbihan

In [52]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Nom Département = Morbihan", t2.measure2 as "Sum(Conso totale (MWh)) for Nom Département = Finistère"  
from 
  (select "Nom Département", "Type EPCI", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Morbihan' 
   group by "Nom Département", "Type EPCI") t1, 
  (select "Nom Département", "Type EPCI",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Finistère' 
   group by "Nom Département", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

4 rows affected.

[('0', Decimal('41565'), Decimal('9136')),
 ('CA', Decimal('16783244'), Decimal('12244287')),
 ('CC', Decimal('25620032'), Decimal('26689541')),
 ('nd', Decimal('518907'), Decimal('29978'))]

### Query 8
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Nom Département" Morbihan vs Ille-et-Vilaine 
grouped by "Type EPCI" 

Insight is: Variance Equals for Morbihan

In [53]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Nom Département = Morbihan", t2.measure2 as "Sum(Conso totale (MWh)) for Nom Département = Ille-et-Vilaine"  
from 
  (select "Nom Département", "Type EPCI", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Morbihan' 
   group by "Nom Département", "Type EPCI") t1, 
  (select "Nom Département", "Type EPCI",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Ille-et-Vilaine' 
   group by "Nom Département", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

4 rows affected.

[('0', Decimal('41565'), Decimal('20222')),
 ('CA', Decimal('16783244'), Decimal('20698576')),
 ('CC', Decimal('25620032'), Decimal('23168954')),
 ('nd', Decimal('518907'), Decimal('163399'))]

### Query 9
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Nom Département" Morbihan vs Ille-et-Vilaine 
grouped by "Type EPCI" 

Insight is: Mean Greater for Morbihan

In [54]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Nom Département = Morbihan", t2.measure2 as "Sum(Conso moyenne (MWh)) for Nom Département = Ille-et-Vilaine"  
from 
  (select "Nom Département", "Type EPCI", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Morbihan' 
   group by "Nom Département", "Type EPCI") t1, 
  (select "Nom Département", "Type EPCI",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Ille-et-Vilaine' 
   group by "Nom Département", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

4 rows affected.

[('0', Decimal('6137'), Decimal('717')),
 ('CA', Decimal('1519316'), Decimal('2295196')),
 ('CC', Decimal('3376182'), Decimal('2355870')),
 ('nd', Decimal('28891'), Decimal('7734'))]

### Query 10
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Nom Département" Finistère vs Ille-et-Vilaine 
grouped by "Type EPCI" 

Insight is: Variance Equals for Finistère

In [55]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Nom Département = Finistère", t2.measure2 as "Sum(Conso totale (MWh)) for Nom Département = Ille-et-Vilaine"  
from 
  (select "Nom Département", "Type EPCI", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Finistère' 
   group by "Nom Département", "Type EPCI") t1, 
  (select "Nom Département", "Type EPCI",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Ille-et-Vilaine' 
   group by "Nom Département", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

5 rows affected.

[('0', Decimal('9136'), Decimal('20222')),
 ('CA', Decimal('12244287'), Decimal('20698576')),
 ('CC', Decimal('26689541'), Decimal('23168954')),
 ('ME', Decimal('4675893'), Decimal('10799686')),
 ('nd', Decimal('29978'), Decimal('163399'))]