# SQL comparison notebooks <dataset_name>
This data analysis was automatically generated using the TAP algorithm.

In [46]:
import sqlalchemy
sqlalchemy.create_engine("postgresql://localhost:5432/covid?user=marcel&password=1598marcel")
%load_ext sql
%sql postgresql://localhost:5432/covid?user=marcel&password=1598marcel
%config SqlMagic.displaycon=False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Query 1
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Type EPCI" ZZ vs CU 
grouped by "Type IRIS" 

Insight is: Mean Greater for ZZ

In [47]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Type EPCI = ZZ", t2.measure2 as "Sum(Conso moyenne (MWh)) for Type EPCI = CU"  
from 
  (select "Type EPCI", "Type IRIS", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = 'ZZ' 
   group by "Type EPCI", "Type IRIS") t1, 
  (select "Type EPCI", "Type IRIS",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'CU' 
   group by "Type EPCI", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

1 rows affected.

[('Z', Decimal('26695'), Decimal('3268'))]

### Query 2
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Type EPCI" ZZ vs CU 
grouped by "Type IRIS" 

Insight is: Mean Greater for ZZ

In [48]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Type EPCI = ZZ", t2.measure2 as "Sum(Conso totale (MWh)) for Type EPCI = CU"  
from 
  (select "Type EPCI", "Type IRIS", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = 'ZZ' 
   group by "Type EPCI", "Type IRIS") t1, 
  (select "Type EPCI", "Type IRIS",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'CU' 
   group by "Type EPCI", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

1 rows affected.

[('Z', Decimal('137349'), Decimal('54856'))]

### Query 3
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Type EPCI" ZZ vs nd 
grouped by "Type IRIS" 

Insight is: Mean Smaller for ZZ

In [49]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Type EPCI = ZZ", t2.measure2 as "Sum(Conso totale (MWh)) for Type EPCI = nd"  
from 
  (select "Type EPCI", "Type IRIS", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = 'ZZ' 
   group by "Type EPCI", "Type IRIS") t1, 
  (select "Type EPCI", "Type IRIS",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'nd' 
   group by "Type EPCI", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

1 rows affected.

[('Z', Decimal('137349'), Decimal('421387'))]

### Query 4
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Type EPCI" ZZ vs 0 
grouped by "Type IRIS" 

Insight is: Mean Greater for ZZ

In [50]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Type EPCI = ZZ", t2.measure2 as "Sum(Conso totale (MWh)) for Type EPCI = 0"  
from 
  (select "Type EPCI", "Type IRIS", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = 'ZZ' 
   group by "Type EPCI", "Type IRIS") t1, 
  (select "Type EPCI", "Type IRIS",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = '0' 
   group by "Type EPCI", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

1 rows affected.

[('Z', Decimal('137349'), Decimal('118792'))]

### Query 5
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Type EPCI" 0 vs nd 
grouped by "CODE GRAND SECTEUR" 

Insight is: Mean Smaller for 0

In [51]:
%%sql
select t1."CODE GRAND SECTEUR", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Type EPCI = 0", t2.measure2 as "Sum(Conso totale (MWh)) for Type EPCI = nd"  
from 
  (select "Type EPCI", "CODE GRAND SECTEUR", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = '0' 
   group by "Type EPCI", "CODE GRAND SECTEUR") t1, 
  (select "Type EPCI", "CODE GRAND SECTEUR",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'nd' 
   group by "Type EPCI", "CODE GRAND SECTEUR") t2 
where t1."CODE GRAND SECTEUR" = t2."CODE GRAND SECTEUR" order by "CODE GRAND SECTEUR";

6 rows affected.

[('AGRICULTURE', Decimal('10603'), Decimal('3729')),
 ('INCONNU', Decimal('0'), Decimal('201')),
 ('INDUSTRIE', Decimal('23496'), Decimal('160367')),
 ('PETIT_PROFESSIONNEL', Decimal('19969'), Decimal('106362')),
 ('RESIDENTIEL', Decimal('59953'), Decimal('353595')),
 ('TERTIAIRE', Decimal('4771'), Decimal('259542'))]

### Query 6
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Type EPCI" 0 vs nd 
grouped by "Type IRIS" 

Insight is: Mean Smaller for 0

In [52]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Type EPCI = 0", t2.measure2 as "Sum(Conso moyenne (MWh)) for Type EPCI = nd"  
from 
  (select "Type EPCI", "Type IRIS", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = '0' 
   group by "Type EPCI", "Type IRIS") t1, 
  (select "Type EPCI", "Type IRIS",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'nd' 
   group by "Type EPCI", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

1 rows affected.

[('Z', Decimal('11162'), Decimal('31245'))]

### Query 7
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Type EPCI" 0 vs CU 
grouped by "Type IRIS" 

Insight is: Mean Greater for 0

In [53]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Type EPCI = 0", t2.measure2 as "Sum(Conso moyenne (MWh)) for Type EPCI = CU"  
from 
  (select "Type EPCI", "Type IRIS", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = '0' 
   group by "Type EPCI", "Type IRIS") t1, 
  (select "Type EPCI", "Type IRIS",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'CU' 
   group by "Type EPCI", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

1 rows affected.

[('Z', Decimal('11162'), Decimal('3268'))]

### Query 8
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Type EPCI" 0 vs CU 
grouped by "Nom Département" 

Insight is: Mean Smaller for 0

In [54]:
%%sql
select t1."Nom Département", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Type EPCI = 0", t2.measure2 as "Sum(Conso totale (MWh)) for Type EPCI = CU"  
from 
  (select "Type EPCI", "Nom Département", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = '0' 
   group by "Type EPCI", "Nom Département") t1, 
  (select "Type EPCI", "Nom Département",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'CU' 
   group by "Type EPCI", "Nom Département") t2 
where t1."Nom Département" = t2."Nom Département" order by "Nom Département";

1 rows affected.

[('Finistère', Decimal('9136'), Decimal('3747913'))]

### Query 9
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Type EPCI" ZZ vs nd 
grouped by "Nom Département" 

Insight is: Mean Greater for ZZ

In [55]:
%%sql
select t1."Nom Département", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Type EPCI = ZZ", t2.measure2 as "Sum(Conso moyenne (MWh)) for Type EPCI = nd"  
from 
  (select "Type EPCI", "Nom Département", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = 'ZZ' 
   group by "Type EPCI", "Nom Département") t1, 
  (select "Type EPCI", "Nom Département",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'nd' 
   group by "Type EPCI", "Nom Département") t2 
where t1."Nom Département" = t2."Nom Département" order by "Nom Département";

2 rows affected.

[("Côtes-d'Armor", Decimal('26105'), Decimal('6748')),
 ('Finistère', Decimal('590'), Decimal('1077'))]