# SQL comparison notebooks <dataset_name>
This data analysis was automatically generated using the TAP algorithm.

In [12]:
import sqlalchemy
sqlalchemy.create_engine("postgresql://localhost:5432/covid?user=marcel&password=1598marcel")
%load_ext sql
%sql postgresql://localhost:5432/covid?user=marcel&password=1598marcel
%config SqlMagic.displaycon=False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Query 1
 
For measure Sum of "Conso totale (MWh)" 
Comparing "CODE CATEGORIE CONSOMMATION" ENT vs PRO 
grouped by "Type IRIS" 

Insight is: Mean Greater for ENT

In [13]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso totale (MWh)) for CODE CATEGORIE CONSOMMATION = ENT", t2.measure2 as "Sum(Conso totale (MWh)) for CODE CATEGORIE CONSOMMATION = PRO"  
from 
  (select "CODE CATEGORIE CONSOMMATION", "Type IRIS", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "CODE CATEGORIE CONSOMMATION" = 'ENT' 
   group by "CODE CATEGORIE CONSOMMATION", "Type IRIS") t1, 
  (select "CODE CATEGORIE CONSOMMATION", "Type IRIS",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "CODE CATEGORIE CONSOMMATION" = 'PRO' 
   group by "CODE CATEGORIE CONSOMMATION", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

6 rows affected.

[('A', Decimal('5862856'), Decimal('651146')),
 ('D', Decimal('2606619'), Decimal('243015')),
 ('F', Decimal('91849'), Decimal('3974')),
 ('H', Decimal('29581570'), Decimal('9121905')),
 ('Z', Decimal('42134482'), Decimal('12470034')),
 ('_', Decimal('1287587'), Decimal('82903'))]

### Query 2
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "CODE GRAND SECTEUR" INCONNU vs RESIDENTIEL 
grouped by "Type IRIS" 

Insight is: Variance Equals for INCONNU

In [14]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for CODE GRAND SECTEUR = INCONNU", t2.measure2 as "Sum(Conso moyenne (MWh)) for CODE GRAND SECTEUR = RESIDENTIEL"  
from 
  (select "CODE GRAND SECTEUR", "Type IRIS", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "CODE GRAND SECTEUR" = 'INCONNU' 
   group by "CODE GRAND SECTEUR", "Type IRIS") t1, 
  (select "CODE GRAND SECTEUR", "Type IRIS",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "CODE GRAND SECTEUR" = 'RESIDENTIEL' 
   group by "CODE GRAND SECTEUR", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

6 rows affected.

[('A', Decimal('2788'), Decimal('1408')),
 ('D', Decimal('2395'), Decimal('1470')),
 ('F', Decimal('96'), Decimal('76')),
 ('H', Decimal('30200'), Decimal('19853')),
 ('Z', Decimal('63041'), Decimal('60213')),
 ('_', Decimal('23149'), Decimal('1199'))]

### Query 3
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "CODE GRAND SECTEUR" INCONNU vs PETIT_PROFESSIONNEL 
grouped by "Type EPCI" 

Insight is: Mean Smaller for INCONNU

In [15]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for CODE GRAND SECTEUR = INCONNU", t2.measure2 as "Sum(Conso moyenne (MWh)) for CODE GRAND SECTEUR = PETIT_PROFESSIONNEL"  
from 
  (select "CODE GRAND SECTEUR", "Type EPCI", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "CODE GRAND SECTEUR" = 'INCONNU' 
   group by "CODE GRAND SECTEUR", "Type EPCI") t1, 
  (select "CODE GRAND SECTEUR", "Type EPCI",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "CODE GRAND SECTEUR" = 'PETIT_PROFESSIONNEL' 
   group by "CODE GRAND SECTEUR", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

7 rows affected.

[('0', Decimal('0'), Decimal('300')),
 ('CA', Decimal('53848'), Decimal('40129')),
 ('CC', Decimal('58507'), Decimal('94040')),
 ('CU', Decimal('1897'), Decimal('3107')),
 ('ME', Decimal('7243'), Decimal('7017')),
 ('ZZ', Decimal('40'), Decimal('60')),
 ('nd', Decimal('134'), Decimal('548'))]

### Query 4
 
For measure Sum of "Conso totale (MWh)" 
Comparing "CODE GRAND SECTEUR" AGRICULTURE vs TERTIAIRE 
grouped by "Type EPCI" 

Insight is: Mean Smaller for AGRICULTURE

In [16]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = AGRICULTURE", t2.measure2 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = TERTIAIRE"  
from 
  (select "CODE GRAND SECTEUR", "Type EPCI", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "CODE GRAND SECTEUR" = 'AGRICULTURE' 
   group by "CODE GRAND SECTEUR", "Type EPCI") t1, 
  (select "CODE GRAND SECTEUR", "Type EPCI",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "CODE GRAND SECTEUR" = 'TERTIAIRE' 
   group by "CODE GRAND SECTEUR", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

7 rows affected.

[('0', Decimal('10603'), Decimal('4771')),
 ('CA', Decimal('1461535'), Decimal('16890921')),
 ('CC', Decimal('5523552'), Decimal('16359376')),
 ('CU', Decimal('50895'), Decimal('1269637')),
 ('ME', Decimal('154495'), Decimal('6331923')),
 ('ZZ', Decimal('333'), Decimal('12530')),
 ('nd', Decimal('3729'), Decimal('259542'))]

### Query 5
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Nom Département" Morbihan vs Finistère 
grouped by "Type EPCI" 

Insight is: Variance Equals for Morbihan, Insight is: Mean Greater for Morbihan

In [17]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Nom Département = Morbihan", t2.measure2 as "Sum(Conso totale (MWh)) for Nom Département = Finistère"  
from 
  (select "Nom Département", "Type EPCI", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Morbihan' 
   group by "Nom Département", "Type EPCI") t1, 
  (select "Nom Département", "Type EPCI",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Finistère' 
   group by "Nom Département", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

4 rows affected.

[('0', Decimal('41565'), Decimal('9136')),
 ('CA', Decimal('16783244'), Decimal('12244287')),
 ('CC', Decimal('25620032'), Decimal('26689541')),
 ('nd', Decimal('518907'), Decimal('29978'))]

### Query 6
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Nom Département" Finistère vs Ille-et-Vilaine 
grouped by "Type EPCI" 

Insight is: Variance Equals for Finistère

In [18]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Nom Département = Finistère", t2.measure2 as "Sum(Conso moyenne (MWh)) for Nom Département = Ille-et-Vilaine"  
from 
  (select "Nom Département", "Type EPCI", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Finistère' 
   group by "Nom Département", "Type EPCI") t1, 
  (select "Nom Département", "Type EPCI",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Ille-et-Vilaine' 
   group by "Nom Département", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

5 rows affected.

[('0', Decimal('566'), Decimal('717')),
 ('CA', Decimal('1240972'), Decimal('2295196')),
 ('CC', Decimal('2752537'), Decimal('2355870')),
 ('ME', Decimal('573324'), Decimal('1372095')),
 ('nd', Decimal('1077'), Decimal('7734'))]

### Query 7
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Nom Département" Finistère vs Côtes-d'Armor 
grouped by "CODE GRAND SECTEUR" 

Insight is: Mean Greater for Finistère

In [19]:
%%sql
select t1."CODE GRAND SECTEUR", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Nom Département = Finistère", t2.measure2 as "Sum(Conso moyenne (MWh)) for Nom Département = Côtes-d'Armor"  
from 
  (select "Nom Département", "CODE GRAND SECTEUR", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Finistère' 
   group by "Nom Département", "CODE GRAND SECTEUR") t1, 
  (select "Nom Département", "CODE GRAND SECTEUR",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Côtes-d''Armor' 
   group by "Nom Département", "CODE GRAND SECTEUR") t2 
where t1."CODE GRAND SECTEUR" = t2."CODE GRAND SECTEUR" order by "CODE GRAND SECTEUR";

6 rows affected.

[('AGRICULTURE', Decimal('537315'), Decimal('527612')),
 ('INCONNU', Decimal('16666'), Decimal('31728')),
 ('INDUSTRIE', Decimal('2159902'), Decimal('2001224')),
 ('PETIT_PROFESSIONNEL', Decimal('34219'), Decimal('38981')),
 ('RESIDENTIEL', Decimal('20208'), Decimal('20763')),
 ('TERTIAIRE', Decimal('1977582'), Decimal('1447093'))]

### Query 8
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Type IRIS" D vs F 
grouped by "CODE GRAND SECTEUR" 

Insight is: Mean Greater for D

In [20]:
%%sql
select t1."CODE GRAND SECTEUR", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Type IRIS = D", t2.measure2 as "Sum(Conso totale (MWh)) for Type IRIS = F"  
from 
  (select "Type IRIS", "CODE GRAND SECTEUR", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Type IRIS" = 'D' 
   group by "Type IRIS", "CODE GRAND SECTEUR") t1, 
  (select "Type IRIS", "CODE GRAND SECTEUR",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Type IRIS" = 'F' 
   group by "Type IRIS", "CODE GRAND SECTEUR") t2 
where t1."CODE GRAND SECTEUR" = t2."CODE GRAND SECTEUR" order by "CODE GRAND SECTEUR";

5 rows affected.

[('AGRICULTURE', Decimal('60572'), Decimal('2928')),
 ('INCONNU', Decimal('12540'), Decimal('744')),
 ('INDUSTRIE', Decimal('987403'), Decimal('39352')),
 ('RESIDENTIEL', Decimal('560893'), Decimal('12857')),
 ('TERTIAIRE', Decimal('1598270'), Decimal('52799'))]

### Query 9
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Type EPCI" CC vs CA 
grouped by "CODE GRAND SECTEUR" 

Insight is: Mean Greater for CC

In [21]:
%%sql
select t1."CODE GRAND SECTEUR", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Type EPCI = CC", t2.measure2 as "Sum(Conso moyenne (MWh)) for Type EPCI = CA"  
from 
  (select "Type EPCI", "CODE GRAND SECTEUR", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Type EPCI" = 'CC' 
   group by "Type EPCI", "CODE GRAND SECTEUR") t1, 
  (select "Type EPCI", "CODE GRAND SECTEUR",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Type EPCI" = 'CA' 
   group by "Type EPCI", "CODE GRAND SECTEUR") t2 
where t1."CODE GRAND SECTEUR" = t2."CODE GRAND SECTEUR" order by "CODE GRAND SECTEUR";

6 rows affected.

[('AGRICULTURE', Decimal('1192524'), Decimal('397187')),
 ('INCONNU', Decimal('58507'), Decimal('53848')),
 ('INDUSTRIE', Decimal('6528447'), Decimal('3374284')),
 ('PETIT_PROFESSIONNEL', Decimal('94040'), Decimal('40129')),
 ('RESIDENTIEL', Decimal('51244'), Decimal('26080')),
 ('TERTIAIRE', Decimal('3050425'), Decimal('2704164'))]

### Query 10
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "CODE GRAND SECTEUR" RESIDENTIEL vs PETIT_PROFESSIONNEL 
grouped by "Année" 

Insight is: Mean Smaller for RESIDENTIEL, Insight is: Variance Smaller for RESIDENTIEL

In [22]:
%%sql
select t1."Année", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for CODE GRAND SECTEUR = RESIDENTIEL", t2.measure2 as "Sum(Conso moyenne (MWh)) for CODE GRAND SECTEUR = PETIT_PROFESSIONNEL"  
from 
  (select "CODE GRAND SECTEUR", "Année", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "CODE GRAND SECTEUR" = 'RESIDENTIEL' 
   group by "CODE GRAND SECTEUR", "Année") t1, 
  (select "CODE GRAND SECTEUR", "Année",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "CODE GRAND SECTEUR" = 'PETIT_PROFESSIONNEL' 
   group by "CODE GRAND SECTEUR", "Année") t2 
where t1."Année" = t2."Année" order by "Année";

7 rows affected.

[(2011, Decimal('9267'), Decimal('20881')),
 (2012, Decimal('9944'), Decimal('21383')),
 (2013, Decimal('10232'), Decimal('21578')),
 (2014, Decimal('9123'), Decimal('20312')),
 (2015, Decimal('9289'), Decimal('20565')),
 (2016, Decimal('9440'), Decimal('20587')),
 (2017, Decimal('9045'), Decimal('19895'))]