# SQL comparison notebooks <dataset_name>
This data analysis was automatically generated using the TAP algorithm.

In [23]:
import sqlalchemy
sqlalchemy.create_engine("postgresql://localhost:5432/covid?user=marcel&password=1598marcel")
%load_ext sql
%sql postgresql://localhost:5432/covid?user=marcel&password=1598marcel
%config SqlMagic.displaycon=False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Query 1
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Nom Département" Morbihan vs Finistère 
grouped by "Type EPCI" 

Insight is: Variance Equals for Morbihan, Insight is: Mean Greater for Morbihan

In [24]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Nom Département = Morbihan", t2.measure2 as "Sum(Conso totale (MWh)) for Nom Département = Finistère"  
from 
  (select "Nom Département", "Type EPCI", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Morbihan' 
   group by "Nom Département", "Type EPCI") t1, 
  (select "Nom Département", "Type EPCI",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Finistère' 
   group by "Nom Département", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

4 rows affected.

[('0', Decimal('41565'), Decimal('9136')),
 ('CA', Decimal('16783244'), Decimal('12244287')),
 ('CC', Decimal('25620032'), Decimal('26689541')),
 ('nd', Decimal('518907'), Decimal('29978'))]

### Query 2
 
For measure Sum of "Conso totale (MWh)" 
Comparing "Nom Département" Morbihan vs Ille-et-Vilaine 
grouped by "Type EPCI" 

Insight is: Variance Equals for Morbihan

In [25]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso totale (MWh)) for Nom Département = Morbihan", t2.measure2 as "Sum(Conso totale (MWh)) for Nom Département = Ille-et-Vilaine"  
from 
  (select "Nom Département", "Type EPCI", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Morbihan' 
   group by "Nom Département", "Type EPCI") t1, 
  (select "Nom Département", "Type EPCI",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Ille-et-Vilaine' 
   group by "Nom Département", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

4 rows affected.

[('0', Decimal('41565'), Decimal('20222')),
 ('CA', Decimal('16783244'), Decimal('20698576')),
 ('CC', Decimal('25620032'), Decimal('23168954')),
 ('nd', Decimal('518907'), Decimal('163399'))]

### Query 3
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Nom Département" Morbihan vs Ille-et-Vilaine 
grouped by "Type EPCI" 

Insight is: Mean Greater for Morbihan

In [26]:
%%sql
select t1."Type EPCI", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Nom Département = Morbihan", t2.measure2 as "Sum(Conso moyenne (MWh)) for Nom Département = Ille-et-Vilaine"  
from 
  (select "Nom Département", "Type EPCI", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Morbihan' 
   group by "Nom Département", "Type EPCI") t1, 
  (select "Nom Département", "Type EPCI",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Ille-et-Vilaine' 
   group by "Nom Département", "Type EPCI") t2 
where t1."Type EPCI" = t2."Type EPCI" order by "Type EPCI";

4 rows affected.

[('0', Decimal('6137'), Decimal('717')),
 ('CA', Decimal('1519316'), Decimal('2295196')),
 ('CC', Decimal('3376182'), Decimal('2355870')),
 ('nd', Decimal('28891'), Decimal('7734'))]

### Query 4
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Nom Département" Finistère vs Ille-et-Vilaine 
grouped by "CODE GRAND SECTEUR" 

Insight is: Mean Smaller for Finistère

In [27]:
%%sql
select t1."CODE GRAND SECTEUR", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Nom Département = Finistère", t2.measure2 as "Sum(Conso moyenne (MWh)) for Nom Département = Ille-et-Vilaine"  
from 
  (select "Nom Département", "CODE GRAND SECTEUR", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Finistère' 
   group by "Nom Département", "CODE GRAND SECTEUR") t1, 
  (select "Nom Département", "CODE GRAND SECTEUR",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Ille-et-Vilaine' 
   group by "Nom Département", "CODE GRAND SECTEUR") t2 
where t1."CODE GRAND SECTEUR" = t2."CODE GRAND SECTEUR" order by "CODE GRAND SECTEUR";

6 rows affected.

[('AGRICULTURE', Decimal('537315'), Decimal('302737')),
 ('INCONNU', Decimal('16666'), Decimal('32932')),
 ('INDUSTRIE', Decimal('2159902'), Decimal('3445824')),
 ('PETIT_PROFESSIONNEL', Decimal('34219'), Decimal('44191')),
 ('RESIDENTIEL', Decimal('20208'), Decimal('26231')),
 ('TERTIAIRE', Decimal('1977582'), Decimal('2179697'))]

### Query 5
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "Nom Département" Finistère vs Côtes-d'Armor 
grouped by "CODE CATEGORIE CONSOMMATION" 

Insight is: Mean Greater for Finistère

In [28]:
%%sql
select t1."CODE CATEGORIE CONSOMMATION", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for Nom Département = Finistère", t2.measure2 as "Sum(Conso moyenne (MWh)) for Nom Département = Côtes-d'Armor"  
from 
  (select "Nom Département", "CODE CATEGORIE CONSOMMATION", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "Nom Département" = 'Finistère' 
   group by "Nom Département", "CODE CATEGORIE CONSOMMATION") t1, 
  (select "Nom Département", "CODE CATEGORIE CONSOMMATION",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "Nom Département" = 'Côtes-d''Armor' 
   group by "Nom Département", "CODE CATEGORIE CONSOMMATION") t2 
where t1."CODE CATEGORIE CONSOMMATION" = t2."CODE CATEGORIE CONSOMMATION" order by "CODE CATEGORIE CONSOMMATION";

3 rows affected.

[('ENT', Decimal('4659667'), Decimal('3975228')),
 ('PRO', Decimal('66017'), Decimal('71410')),
 ('RES', Decimal('20208'), Decimal('20763'))]

### Query 6
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "CODE CATEGORIE CONSOMMATION" RES vs PRO 
grouped by "Type IRIS" 

Insight is: Variance Smaller for RES, Insight is: Mean Smaller for RES

In [29]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for CODE CATEGORIE CONSOMMATION = RES", t2.measure2 as "Sum(Conso moyenne (MWh)) for CODE CATEGORIE CONSOMMATION = PRO"  
from 
  (select "CODE CATEGORIE CONSOMMATION", "Type IRIS", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "CODE CATEGORIE CONSOMMATION" = 'RES' 
   group by "CODE CATEGORIE CONSOMMATION", "Type IRIS") t1, 
  (select "CODE CATEGORIE CONSOMMATION", "Type IRIS",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "CODE CATEGORIE CONSOMMATION" = 'PRO' 
   group by "CODE CATEGORIE CONSOMMATION", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

6 rows affected.

[('A', Decimal('1408'), Decimal('5971')),
 ('D', Decimal('1470'), Decimal('4455')),
 ('F', Decimal('76'), Decimal('475')),
 ('H', Decimal('19853'), Decimal('68167')),
 ('Z', Decimal('60213'), Decimal('195231')),
 ('_', Decimal('1199'), Decimal('1974'))]

### Query 7
 
For measure Sum of "Conso totale (MWh)" 
Comparing "CODE CATEGORIE CONSOMMATION" RES vs PRO 
grouped by "Type IRIS" 

Insight is: Mean Greater for RES

In [30]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso totale (MWh)) for CODE CATEGORIE CONSOMMATION = RES", t2.measure2 as "Sum(Conso totale (MWh)) for CODE CATEGORIE CONSOMMATION = PRO"  
from 
  (select "CODE CATEGORIE CONSOMMATION", "Type IRIS", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "CODE CATEGORIE CONSOMMATION" = 'RES' 
   group by "CODE CATEGORIE CONSOMMATION", "Type IRIS") t1, 
  (select "CODE CATEGORIE CONSOMMATION", "Type IRIS",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "CODE CATEGORIE CONSOMMATION" = 'PRO' 
   group by "CODE CATEGORIE CONSOMMATION", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

6 rows affected.

[('A', Decimal('234772'), Decimal('651146')),
 ('D', Decimal('560893'), Decimal('243015')),
 ('F', Decimal('12857'), Decimal('3974')),
 ('H', Decimal('28480904'), Decimal('9121905')),
 ('Z', Decimal('47920106'), Decimal('12470034')),
 ('_', Decimal('47338'), Decimal('82903'))]

### Query 8
 
For measure Sum of "Conso totale (MWh)" 
Comparing "CODE GRAND SECTEUR" AGRICULTURE vs TERTIAIRE 
grouped by "Type IRIS" 

Insight is: Mean Smaller for AGRICULTURE

In [31]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = AGRICULTURE", t2.measure2 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = TERTIAIRE"  
from 
  (select "CODE GRAND SECTEUR", "Type IRIS", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "CODE GRAND SECTEUR" = 'AGRICULTURE' 
   group by "CODE GRAND SECTEUR", "Type IRIS") t1, 
  (select "CODE GRAND SECTEUR", "Type IRIS",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "CODE GRAND SECTEUR" = 'TERTIAIRE' 
   group by "CODE GRAND SECTEUR", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

6 rows affected.

[('A', Decimal('16104'), Decimal('3410347')),
 ('D', Decimal('60572'), Decimal('1598270')),
 ('F', Decimal('2928'), Decimal('52799')),
 ('H', Decimal('686361'), Decimal('20389465')),
 ('Z', Decimal('6426186'), Decimal('15053297')),
 ('_', Decimal('12991'), Decimal('624522'))]

### Query 9
 
For measure Sum of "Conso totale (MWh)" 
Comparing "CODE GRAND SECTEUR" RESIDENTIEL vs TERTIAIRE 
grouped by "Type IRIS" 

Insight is: Mean Greater for RESIDENTIEL

In [32]:
%%sql
select t1."Type IRIS", 
       t1.measure1 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = RESIDENTIEL", t2.measure2 as "Sum(Conso totale (MWh)) for CODE GRAND SECTEUR = TERTIAIRE"  
from 
  (select "CODE GRAND SECTEUR", "Type IRIS", sum("Conso totale (MWh)") as measure1 
   from conso_iris 
   where  "CODE GRAND SECTEUR" = 'RESIDENTIEL' 
   group by "CODE GRAND SECTEUR", "Type IRIS") t1, 
  (select "CODE GRAND SECTEUR", "Type IRIS",sum("Conso totale (MWh)") as measure2 
   from conso_iris 
   where "CODE GRAND SECTEUR" = 'TERTIAIRE' 
   group by "CODE GRAND SECTEUR", "Type IRIS") t2 
where t1."Type IRIS" = t2."Type IRIS" order by "Type IRIS";

6 rows affected.

[('A', Decimal('234772'), Decimal('3410347')),
 ('D', Decimal('560893'), Decimal('1598270')),
 ('F', Decimal('12857'), Decimal('52799')),
 ('H', Decimal('28480904'), Decimal('20389465')),
 ('Z', Decimal('47920106'), Decimal('15053297')),
 ('_', Decimal('47338'), Decimal('624522'))]

### Query 10
 
For measure Sum of "Conso moyenne (MWh)" 
Comparing "CODE GRAND SECTEUR" RESIDENTIEL vs PETIT_PROFESSIONNEL 
grouped by "Année" 

Insight is: Mean Smaller for RESIDENTIEL, Insight is: Variance Smaller for RESIDENTIEL

In [33]:
%%sql
select t1."Année", 
       t1.measure1 as "Sum(Conso moyenne (MWh)) for CODE GRAND SECTEUR = RESIDENTIEL", t2.measure2 as "Sum(Conso moyenne (MWh)) for CODE GRAND SECTEUR = PETIT_PROFESSIONNEL"  
from 
  (select "CODE GRAND SECTEUR", "Année", sum("Conso moyenne (MWh)") as measure1 
   from conso_iris 
   where  "CODE GRAND SECTEUR" = 'RESIDENTIEL' 
   group by "CODE GRAND SECTEUR", "Année") t1, 
  (select "CODE GRAND SECTEUR", "Année",sum("Conso moyenne (MWh)") as measure2 
   from conso_iris 
   where "CODE GRAND SECTEUR" = 'PETIT_PROFESSIONNEL' 
   group by "CODE GRAND SECTEUR", "Année") t2 
where t1."Année" = t2."Année" order by "Année";

7 rows affected.

[(2011, Decimal('9267'), Decimal('20881')),
 (2012, Decimal('9944'), Decimal('21383')),
 (2013, Decimal('10232'), Decimal('21578')),
 (2014, Decimal('9123'), Decimal('20312')),
 (2015, Decimal('9289'), Decimal('20565')),
 (2016, Decimal('9440'), Decimal('20587')),
 (2017, Decimal('9045'), Decimal('19895'))]